version: '2'

services:
  postgres:
    image: postgres:11
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: toor
      PGDATA: /data/postgres
    volumes:
    - /data/postgres:/data/postgres
    ports:
    - "5432:5432"
    networks:
    - postgres
    restart: always

  pgadmin:
    links:
    - postgres
    image: fenglc/pgadmin4
    volumes:
    - /data/pgadmin:/root/.pgadmin
    ports:
    - "5050:5050"
    networks:
    - postgres
    restart: always

networks:
  postgres:
    driver: bridge
